/* INICIO RESET */
@import "./reset.css";
/* FIN RESET */

/* INICIO HEADER */
.header{
    width: 100%;
    max-height: 35em;
    height: 16em;
}

.header__wrapper1{
    width: 20%;
    height: 16em;
    float: left;
}

.header__img{
    width: 100%;
    height: 100%;
}

.header__wrapper2{
    float:right;
    height: auto;
    margin-top: calc((16em - 2.4em) / 2);
    margin-right: 2em;
}

.ul__li{
    display: inline-block;
    padding-inline: 1em;
}

.ul__a{
    text-decoration: none;
    display: inline-block;
    font-family: "Roboto-Serif";
    font-style: italic;
    font-weight: 500;
    font-size: 1.5em;
    color: #6C6D73;
    padding: 0.5rem;
}

.ul__a:hover {
    color: rgba(0, 0, 255, 0.384);
}

/* FIN HEADER */

/* INICIO FOOTER */
.footer{
    width: 100%;
    max-height: 35em;
    height: 16em;
}

.footer__wrapper1{
    float: left;
    margin-left: 1em;
    margin-top: calc((16em - 2em) /2);
}

.footer__wrapper1 a{
    display: inline-block;
}

.fa-instagram , .fa-facebook, .fa-twitter, .fa-tiktok, .fa-snapchat{
    padding-inline: 0.5em;
}

.fa-instagram{
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

.fa-facebook{
    color: #3b5998;
    background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
    background-size: 55%;
    background-position: 70% 0;
    background-repeat: no-repeat;
}

.fa-tiktok{
    color: #111111;
    filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);
}

.fa-twitter{
    color:#0099CC;
}

.fa-circle-up{
    color:rgba(0, 0, 255, 0.384);
}
    
.footer__wrapper2{
    width: 20%;
    height: 16em;
    float: left;
}

.footer__img{
    width: 100%;
    height: 100%;
}

.footer__wrapper3{
    float: right;
    margin-right: 2em;
    margin-top: calc((16em - 5em) /2);
}
/* FIN FOOTER */

/* INICIO INDEX  */

.title{
    width: calc(100% - 2em);
    text-align: right;
    margin-right: 2em;
    padding: 2em;
}

.title__h1{
    font-family: Helvetica;
    color: rgba(0, 0, 0, 0.4784313725);
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    text-align: right;
    text-decoration-line: initial;
    opacity: 0.9;
}

 .galery {
    display: flex;
    margin-top: 2em;
}
.galery__img {
    width: 100%;
}
.galery__img:hover {
    opacity: 0.5;
    transition: 0.4s ease;
}
    
@media only screen and (max-width: 480px) {
    .galery {
        width: 100%;
        flex-wrap: wrap;
    }
    .galery__div {
        width: 100%;
    }

    .fa-circle-up{
        display: none;
    }
}
/* FIN INDEX */

/* INICIO Portfolio.html */
.projects {
    margin-top: 2%;
  }

  .projects__div {
    height: 20em;
    width: 15em;
    display: inline-block;
  }

  .projects__div--1 {
    margin-left: 10em;
  }

  .projects__div--2 {
    margin-left: 7em;
  }
  .projects__div--3 {
    margin-left: 10em;
  }

  .projects__img {
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  .projects__img:hover {
    opacity: 0.5;
    transition: 0.4s ease;
  }
  .projects__p {
    font-family: "Roboto Serif";
    font-style: italic;
    font-weight: 500;
    font-size: 25px;
    color: #6C6D73;
  }
  .projects__p:hover {
    cursor: pointer;
    color: rgba(0, 0, 255, 0.384);
  }

  .projects__wrapper2{
    height: 2em;
    margin-top: 1em;
    margin-bottom: 2em;
  }
  
  .projects__divp{
    display: inline-block;
    height: 100%;
  }
  
  .projects__divp--1 {
    margin-left: 12em;
  }

  .projects__divp--2 {
    margin-left: 21em;
  }
  .projects__divp--3 {
    margin-left: 20em;
  }

  .projects__div--4 {
    margin-left: 19em;
  }

  .projects__div--5 {
    margin-left: 11em;
  }

  .projects__divp--4 {
    margin-left: 23.5em;
  }
  .projects__divp--5 {
    margin-left: 19.5em;
  }
/* FIIN Portfolio.html */

/* INICIO Film.html */

  .film__div{
    display: inline-block;
    width: 25.9em;
  }

  .film__video{
    height: auto;
    width: 100%;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .film__div--1{
    width: calc(100% - 1em);
  }

  @media screen and (max-width: 480px) {
    .film__div{
        width: 100%;
    }
  }

/* FIIN Film.html */

/* INICIO about.html */

.biography__div--1 {
    width: 28em;
    height: fit-content auto;
    display: inline-block;
    margin-left: 9em;
  }
.biography__div--2 {
    width: 30em;
    height: fit-content auto;
    margin: auto;
    float: right;
    margin-right: 9em;
}
.biography__p {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-family: serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #6C6D73;
    text-align: right;
}

/* FIN about.html */

/* INICIO Contact.html */

    /* Inicio Section contact */
    .contact{
        width: 100%;
    }

    .contact__div{
        width: 20em;
        display: inline-block;
        margin: 1em 0 7em 12em ;
    }

    .contact__p, .contact__h2{
        padding: 0.2em;
        font-family: serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        color: #6C6D73;
        text-align: center;
    }

    .contact__h2{
        font-weight: bold;
        color: rgba(0, 0, 255, 0.384);
    }
    /* Fin Section contact */

    /* Inicio Section form */
    
    .formulario__div--email {
        grid-column: 2/span 2;
        grid-row: 2/2;
        text-align: center;
    }
    .formulario__div--lastname {
        grid-column: 4/span 3;
        grid-row: 1/1;
        text-align: center;
        margin-top: 2rem;
    }
    .formulario__div--name {
        grid-column: 2/span 2;
        grid-row: 1/1;
        text-align: center;
        margin-top: 2rem;
    }
    .formulario__div--submit {
        grid-column: 2/span 4;
        grid-row: 4/4;
        text-align: center;
    }
    .formulario__div--textarea {
        grid-column: 2/span 4;
        grid-row: 3/3;
        text-align: center;
    }
    .formulario__div--thanks {
        grid-column: 3/span 4;
        grid-row: 4/4;
        text-align: center;
    }
    .formulario__form {
        display: grid;
        grid-template-columns: 50px 0px 300px 0px;
        grid-template-rows: 10px 10px 10px 10px 10px;
        column-gap: 10rem;
        margin-right: 5em;
        row-gap: 7rem;
        margin-top: 2em;
        color: whitesmoke;
        font-family: serif;
    }
    .formulario__imput--email, .formulario__imput--text {
        width: 100%;
        padding: 3px 10px;
        border: none;
        border-bottom: 2px solid whitesmoke;
        border-radius: 3px;
        margin: 8px 0;
        display: inline-block;
        grid-column: 4/4;
        grid-row: 1/1;
        text-align: left;
    }
    .formulario__imput--submit {
        width: 15em;
        padding: 8px 16px;
        margin-top: 32px;
        border: 1px solid whitesmoke;
        border-radius: 10px;
        display: block;
        background-color: rgba(0, 0, 0, 0.779);
    }
    .formulario__imput--submit:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 255, 0.384);
    }
    .formulario ::placeholder {
        color: whitesmoke;
        font-size: 1.5em;
    }
    .formulario__p {
        padding: 8px 16px;
        margin-top: 32px;
        color: whitesmoke;
        font-size: 1.5em;
    }
    .formulario__textarea {
        resize: none;
        width: 100%;
        padding: 3px 10px;
        border: none;
        border-bottom: 2px solid whitesmoke;
        border-radius: 3px;
        margin: 8px 0;
        display: inline-block;
        grid-column: 4/4;
        grid-row: 1/1;
        text-align: left;
    }
    
    .info {
        margin-top: 5em;
        display: grid;
        grid-template-columns: 50px 0px 300px 50px;
        grid-template-rows: 50px 50px;
        column-gap: 10rem;
        row-gap: 10rem;
    }
    .info__div--1 {
        grid-column: 2/2;
        grid-row: 1/1;
        text-align: center;
    }
    .info__div--2 {
        grid-column: 4/4;
        grid-row: 1/1;
        text-align: center;
    }
    .info__div--3 {
        grid-column: 2/2;
        grid-row: 2/2;
        text-align: center;
    }
    .info__div--4 {
        grid-column: 4/4;
        grid-row: 2/2;
        text-align: center;
    }
    .info__table {
        width: 100%;
        height: 100%;
    }
    
    .section__hr {
        margin-top: 3rem;
    }
    .section__hr--hr__hr {
        border-color: rgba(0, 0, 255, 0.384);
    }

    .section--form {
        background-color: rgba(0, 0, 0, 0.779);
        box-shadow:  0 -5px 5px 0 5px -5px black;
        box-shadow: inset 0px 11px 8px -10px whitesmoke, inset 0px -11px 8px -10px whitesmoke;
        border-radius: 0.5rem;
    }  
    /* Fin Section form */
  /* FIN Contact.html */


